/* card.css */
.card {
  border: 2px solid #fee2e2; /* red-100 */
  background-color: white;
  box-shadow: 10px 10px 4px rgba(0,0,0,0.05);
  border-radius: 0.75rem; /* rounded-2xl */
  padding: 1rem;
  transition: border-color 0.5s, box-shadow 0.5s, transform 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.card:hover {
  border-color: #fca5a5; /* red-300 */
  box-shadow: 0 10px 20px rgba(255, 2, 2, 0.15);
  transform: translateY(-8px) rotate(4deg);
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-wrapper {
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: transform 0.3s;
}

.card:hover .icon-wrapper {
  transform: scale(1.1) rotate(6deg);
}

.icon {
  width: 2rem;
  height: 2rem;
  
}

.card-title {
  font-size: 1.25rem; /* text-xl */
  color: #1e293b; /* slate-900 */
  margin-bottom: 0.5rem;
  transition: color 0.3s;
  text-align: center;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card:hover .card-title {
  color: #dc2626; /* red-600 */
}

.card-content {
  flex-grow: 1;
}

.card-description {
  color: #475569; 
  line-height: 1.6;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.learn-more-button {
  background: none;
  border: none;
  color: #dc2626; /* red-600 */
  padding: 0;
  margin-top: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: transform 0.3s;
}

.learn-more-button:hover {
  transform: translateX(0.5rem);
}

.arrow-icon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  stroke: currentColor;
}
